[submodule "engine/vendor/vst3sdk"]
	path = engine/vendor/vst3sdk
	url = https://github.com/steinbergmedia/vst3sdk.git
[submodule "engine/ggml"]
	path = engine/ggml
	url = https://github.com/scragnog/HOT-ggml.git
	branch = hot-step-neutral
